<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="TIG055st2014.mailmaster"
    android:configChanges="locale|orientation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.MailFolderActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="TIG055st2014.mailmaster.Activities.MailFolderActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AddAccountActivity"
            android:label="@string/add_email" >
            <intent-filter>
                <action android:name="TIG055st2014.mailmaster.Activities.AddAccountActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AccountSettingsActivity"
            android:label="@string/choose_acc" >
            <intent-filter>
                <action android:name="TIG055st2014.mailmaster.Activities.AccountSettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ComposeActivity"
            android:label="@string/composing" >
            <intent-filter>
                <action android:name="TIG055st2014.mailmaster.Activities.ComposeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ShowEmailActivity"
            android:label="" >
            <intent-filter>
                <action android:name="TIG055st2014.mailmaster.Activities.ShowEmailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AttachmentsActivity"
            android:label="@string/attached" >
            <intent-filter>
                <action android:name="TIG055st2014.mailmaster.Activities.AttachmentsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".Services.EmailNotificationService" />

        <activity
            android:name=".HelpClasses.EmailNotificationForwarder"
            android:label="" >
            <intent-filter>
                <action android:name="TIG055st2014.mailmaster.HelpClasses.EmailForwarder" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.GPLInfoActivity"
            android:label="@string/title_activity_gplinfo" >
        </activity>
    </application>

</manifest>